%h2 Import complete

%p= "#{@import.line} lines processed."
- unless @import.zero?
  %p= "#{@import.created} new records added."
- unless @import.updated.zero?
  %p= "#{@import.updated} records updated."
- unless @import.deleted.zero?
  %p= "#{@import.deleted} records ignored."

- if @import.errors.any?
  %p= "#{@import.errors.size} errors."
  %ul.collapsible.collapsed
    - @import.errors.each_pair do |line, error|
      %li= "On line ##{line}: #{error}"

= link_to "Back to PhoneBook", phones_path

