- model_class = Phone
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize

= link_to t('.new', :default => t("helpers.links.new")), new_phone_path, :class => 'btn btn-primary new'
= link_to t('.new', :default => t("helpers.links.export")), phones_path(:format => :csv), :class => 'btn btn-primary'
= link_to t('.new', :default => t("helpers.links.import")), phones_path, :class => 'btn btn-primary import'

= render 'import_form'

#phone_form_wrapper{:style => "display: none;"}
  = render 'form', :phone => Phone.new

%table.table.table-striped#phones_list
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:number)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    = render :partial => 'phone', :collection => @phones

= will_paginate @phones
= link_to t('.new', :default => t("helpers.links.new")), new_phone_path, :class => 'btn btn-primary'


